.main {
  width: 800px;
  height: 470px;
  background-color: var(--White);
  border-radius: 10px;
  margin: 5rem auto;
  display: flex;
}
.section1 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  padding: 3rem;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 91% 9%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.buttons button {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:last-child {
  background-color: var(--Marine-blue);
  color: var(--White);
}
