@media screen and (width>=992px) {
  .main {
    width: 800px;
    height: 470px;
    background-color: var(--Lightgray);
    border-radius: 10px;
    margin: 5rem auto;
    display: flex;
  }
  .section1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2 {
    padding: 3rem;
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 91% 9%;
  }
}

@media screen and (width<=600px) {
  .main {
    width: 365px;
    height: 150vh;
    background-color: var(--Lightgray);
    margin: 0rem auto;
  }
  .section1 {
    height: 35%;
  }
  .section2 {
    height: 65%;

    position: relative;
  }
}
