.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.headings h1 {
  font-size: 1.5rem;
  color: var(--Marine-blue);
}
.headings p {
  color: var(--Coolgray);
}

.allInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input label {
  color: var(--Marine-blue);
  position: relative;
}
.input input {
  padding: 0.5rem 1rem;
  border: 0.5px solid var(--Coolgray);
  border-radius: 7px;
  font-weight: 600;
  font-size: 12px;
  outline: none;
  color: var(--Marine-blue);
}
.input input:focus,
.input input:active {
  background-color: var(--Lightgray);
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--Marine-blue);
  color: var(--White);
}

/* Error */

.inputError {
  color: red;
  position: absolute;
  inset: 0;
  transform: translate(130px, 5px);
}
